<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babbage</title>
</head>
<body>
    <h1>Charles Babbage</h1>
    <img src="/img/babbage.jpg" alt= "Charles Babbage">
    <img src="/img/babbage2.jpg" alt="Charles babbage2">
</body>
<footer>
    <section>
        <h5>Mas Sobre nuestro Heroe:</h5>
        <nav>
            <ul>
                <li>
                    <a href="https://es.wikipedia.org/wiki/Charles_Babbage">Ir a Wiki | Charles Babbage</a>
                </li>
            </ul>
        </nav>
    </section>
    <a href="/">Volver al Inicio</a>
</footer>
</html>