<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berners-Lee</title>
</head>
<body>
    <h1>Tim Berners-Lee</h1>
    <img src="/img/berners-lee.jpg" alt="Tim Berners-Lee">
    <img src="/img/berners-lee2.jpg" alt="Tim Berners-lee2">
</body>
<footer>
    <section>
        <h5>Mas Sobre nuestro Heroe:</h5>
        <nav>
            <ul>
                <li>
                    <a href="https://es.wikipedia.org/wiki/Tim_Berners-Lee">Ir a Wiki | Tim Berners-Lee</a>
                </li>
            </ul>
        </nav>
    </section>
    <a href="/">Volver al Inicio</a>
</footer>
</html>