<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamilton</title>
</head>
<body>
    <h1>Margaret Hamilton</h1>
    <img src="/img/Hamilton.jpg" alt="Margaret Hamilton">
    <img src="/img/Hamilton2.jpg" alt="Margaret Hamilton2">
</body>
<footer>
    <section>
        <h5>Mas Sobre nuestra Heroina:</h5>
        <nav>
            <ul>
                <li>
                    <a href="https://es.wikipedia.org/wiki/Margaret_Hamilton_(cient%C3%ADfica)">Ir a Wiki | Margaret Hamilton</a>
                </li>
            </ul>
        </nav>
    </section>
    <a href="/">Volver al Inicio</a>
</footer>
</html>