<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing</title>
</head>
<body>
    <h1>Alan Turing</h1>
    <img src="/img/turing.jpg" alt="Alan Turing">
    <img src="/img/turing 2.jpg" alt="Alan Turing2">
</body>
<footer>
    <section>
        <h5>Mas Sobre nuestro Heroe:</h5>
        <nav>
            <ul>
                <li>
                    <a href="https://es.wikipedia.org/wiki/Alan_Turing">Ir a Wiki | Alan Turing</a>
                </li>
            </ul>
        </nav>
    </section>
    <a href="/">Volver al Inicio</a>
</footer>
</html>